<%= javascript_pack_tag 'application' , 'data-turbolinks-track': 'reload' %>

<div class="navbar navbar-light bg-light" align="center">
  <div class="form-inline">
  
  <input type="text" id="searchbox">
  <button type="button" id="searchbutton" >Search</button>
   
</div>

</div>

<div class="navbar navbar-light bg-light" align="center">
  <div class="form-inline">
 <select  id="designations" placeholder="select designation">
  <option value="0">All designation</option>
<%= Designation.all.each do |designation| %>
  <option value="<%=designation.id%>"><%= designation.desig_name %></option>

 <% end %>
</select>
</div></div>